<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Grades PDF</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<h1>Selected Grades</h1>
<table>
    <thead>
    <tr>
        <th>Student</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    {% for grade in grades %}
        <tr>
            <td>{{ grade.student }}</td>
            <td>{{ grade.grade }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
